h2{
	text-align:center;
	font-family:Arial ;
	border:1px black;
	margin:auto;
    width: 249px;
    height: 1.4;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-left: 1px;
    margin-top: 40px;
    margin-bottom: 13px;
    background-color: #aec9eb;/*#dddcdb; /* color name porcelain*/ 
    font-family:Courier New;
}

.textBox{
	
	height: 25px;
	width: 239.667px;
	margin-left: 632px;
	margin-left: 632px;
	margin-top: 10px;
	font-family:Arial,YT Sans, Roboto, Noto Naskh Arabic UI, sans-serif,Lucida Sans Unicode;

}
input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}
p
{
	margin-left: 632px;	
	font-family:Lucida Sans Unicode,YT Sans, Roboto, Noto Naskh Arabic UI, Arial, sans-serif;
}

body{
	 background-color: red; /* For browsers that do not support gradients */
 	 background-image: linear-gradient(to right, #e3e3e3 , #a5ceec);


}